@{ 
    ViewData["Title"] = "Crear Tablero";
}

@model tl2_tp10_2023_NicoPed.ViewModels.CrearTableroViewModel
@section Scripts{<partial name="_ValidationScriptsPartial"/>}

<h1>@ViewData["Title"]</h1>
<form asp-controller="Tablero" asp-action="CrearTablero">
    <div class="form-group">
        <label asp-for="@Model.UsuarioPropietario.Nombre_de_usuario">Usuario Propietario</label>
        <input asp-for="@Model.UsuarioPropietario.Nombre_de_usuario" disabled class="form-control" />
    </div>
        <input hidden asp-for="@Model.Id_usuario_propietario" value="@Model.UsuarioPropietario.Id_usuario">
    <div class="form-group">
        <label asp-for="@Model.Nombre"></label>
        <input asp-for="@Model.Nombre" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Descripcion"></label>
        <input asp-for="@Model.Descripcion" class="form-control" />
    </div>
    <button type="submit" class="btn btn-outline-primary">Enviar</button>
</form>

