
@{
    ViewData["Title"] = "Tablero";
}
@model List<tl2_tp10_2023_NicoPed.ViewModels.TableroViewModel>

<h2>Lista De Tablero</h2>

<table class="table table-green">
    <thead>
        <tr>
            <th hidden>Id_Tablero</th>
            <th>Id_usuario_propietario</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tablero in Model)
        {
            <tr>
                <td hidden>@tablero.Id_tablero</td>
                <td>@tablero.Id_usuario_propietario</td>
                <td>@tablero.Nombre</td>
                <td>@tablero.Descripcion</td>
                <td>
                    <a asp-controller="Tablero" asp-action="EditarTablero" asp-route-idTablero="@tablero.Id_tablero">Editar</a>
                    <a asp-controller="Tablero" asp-action="DeleteTablero" asp-route-idTablero="@tablero.Id_tablero" onclick="return confirm('¿Estas seguro que quieres eliminar el Tablero?')">Eliminar</a>                      
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="d-grid gap-2 col-6 mx-auto">
    <a class="btn btn-outline-primary" asp-area="" asp-controller="Tablero" asp-action="CrearTablero" >Crear Tablero</a> 
    <a class="btn btn-outline-secondary" asp-area="" asp-controller="Home" asp-action="Index" >Ir al inicio</a> 
</div>