
@{
    ViewData["Title"] = "Mis Tableros";
}
@model tl2_tp10_2023_NicoPed.ViewModels.ListarTableroViewModel

@if(Model.TablerosPropiosVM.Count <= 0){
    <article>
        <h2>No tienes tableros propios</h2>
    </article>
}else{
<h2>Tableros Propios</h2>

<table class="table table-green">
    <thead>
        <tr>
            <th hidden>Id_Tablero</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tablero in Model.TablerosPropiosVM)
        {
            <tr>
                <td>@tablero.Nombre</td>
                <td>@tablero.Descripcion</td>
                <td>
                    <a asp-controller="Tarea" asp-action="CrearTarea" asp-route-idTablero = "@tablero.Id_tablero" class="btn btn-outline-primary">Añadir tarea
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
                        <path d="M0 0h16v16H0z" fill="none"/>
                        <path d="M8 1a.5.5 0 0 1 .5.5V7h5a.5.5 0 0 1 0 1H8v5a.5.5 0 0 1-1 0V8H2a.5.5 0 0 1 0-1h5V1.5A.5.5 0 0 1 8 1z"/>
                    </svg>
                    </a>                

                    <a asp-controller="Tablero" asp-action="EditarTablero" class="btn btn-outline-info" asp-route-idTablero="@tablero.Id_tablero" >Editar
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                    </svg>
                    </a>

                    <a asp-controller="Tablero" class="btn btn-outline-danger" asp-action="DeleteTablero" asp-route-idTablero="@tablero.Id_tablero" onclick="return confirm('¿Estas seguro que quieres eliminar el Tablero?')">Eliminar                      
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                    </svg>
                    </a>
                    <a asp-controller="Tarea" asp-action="ListarTareasDeTablero" asp-route-idTablero = "@tablero.Id_tablero"  asp-route-esPropietario = "true" class="btn btn-outline-dark">Ver
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                        <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                        <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
                    </svg>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
}
<hr>
@if(Model.TablerosAsignadosVM.Count <= 0){
    <article>
        <h2>No tienes tableros asignados</h2>
    </article>
}else{
<h2>Tableros Asignados</h2>

<table class="table table-green">
    <thead>
        <tr>
            <th hidden>Id_Tablero</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Usuario Propietario</th>
            <th>Ver Tareas</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tablero in Model.TablerosAsignadosVM)
        {
            <tr>
                <td>@tablero.Nombre</td>
                <td>@tablero.Descripcion</td>
                <td>@tablero.NombreUsuarioPropietario</td>
                <td>
                    <a asp-controller="Tarea" class="btn btn-outline-dark" asp-action="ListarTareasDeTablero" asp-route-idTablero="@tablero.Id_tablero" asp-route-esPropietario = "false">Ver tareas
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                    <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
                    </svg>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
}
<hr>
<div class="d-grid gap-2 col-6 mx-auto">
    <a class="btn btn-outline-primary" asp-route-idUsuario=-999 asp-area="" asp-controller="Tablero" asp-action="CrearTablero" >Crear Tablero Propio</a> 
    <a class="btn btn-outline-secondary" asp-area="" asp-controller="Home" asp-action="Index" >Ir Al Inicio</a> 
    <a class="btn btn-outline-info"  asp-area="" asp-controller="Tarea" asp-action="Index" asp-route-idUsuario = "@Context.Session.GetString("id")">Ir A Mis Tareas</a> 

</div>
@if (Context.Session.GetString("rol") == (Rol.Administrador).ToString()){
<hr>
<div class="d-grid gap-2 col-6 mx-auto">
    <a class="btn btn-outline-primary"  asp-area="" asp-controller="Tablero" asp-action="GestionDeTablero">Gestión De Tablero</a> 
    <a class="btn btn-outline-secondary"  asp-area="" asp-controller="Tarea" asp-action="GestionDeTarea">Gestión De Tarea</a> 
    <a class="btn btn-outline-info"  asp-area="" asp-controller="Usuario" asp-action="Index">Gestión De Usuario</a> 
</div>
}