
@model tl2_tp10_2023_NicoPed.ViewModels.EditarTareaViewModel;
@section Scripts{<partial name="_ValidationScriptsPartial"/>}

<form asp-controller="Tarea" asp-action="EditarTarea">
    <input hidden asp-for="@Model.Id_tarea">
    <div class="form-group">
        <label asp-for="@Model.Id_tablero"></label>
        <input asp-for="@Model.Id_tablero" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Nombre"></label>
        <input asp-for="@Model.Nombre" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Estado"></label>
        <input asp-for="@Model.Estado" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Descripcion"></label>
        <input asp-for="@Model.Descripcion" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Color"></label>
        <input asp-for="@Model.Color" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Id_usuario_asignado"></label>
        <input asp-for="@Model.Id_usuario_asignado" class="form-control" />
    </div>
    <button class="btn btn-outline-primary" type="submit">Enviar</button>
</form>