@{
    ViewData["Title"] = "Tarea";
}

@model tl2_tp10_2023_NicoPed.ViewModels.ListarTareaViewModel

@if(Model.ListarTareaVM.Count > 0){

<h2>Lista De Tareas</h2>

<section class="centrado">

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th hidden>id_tarea</th>
            <th>nombre</th>
            <th>descripcion</th>
            <th>color</th>
            <th>Estado Actual</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tarea in Model.ListarTareaVM)
        {
            <tr>
                <td hidden>@tarea.Id_tarea</td>
                <td>@tarea.Nombre</td>
                <td>@tarea.Descripcion</td>
                <td style="background-color: @tarea.Color">@tarea.Color</td>
                <td>@tarea.Estado</td>
                    <td>
                        <form asp-controller="Tarea" asp-action="ActualizarEstado" method="post">
                            <select name="estadoTarea" value ="@tarea.Estado" asp-items = "@Html.GetEnumSelectList<tl2_tp10_2023_NicoPed.Tarea.estadoTarea>()">
                            </select>
                            <input hidden name="idTarea" value="@tarea.Id_tarea">
                            <input type="submit" class="btn btn-outline-primary" value="Cambiar">
                        </form>
                    </td>
            </tr>
        }
    </tbody>
</table>

</section>
<div class="d-grid gap-2 col-6 mx-auto">
    <a class="btn btn-outline-primary"  asp-area="" asp-controller="Tablero" asp-route-idUsuario = "@Model.ListarTareaVM[0].Id_usuario_asignado" asp-action="Index">Ir A Tableros</a> 
    <a class="btn btn-outline-secondary" asp-area="" asp-controller="Home" asp-action="Index" >Ir al inicio</a> 
</div>
@if (Context.Session.GetString("rol") == (Rol.Administrador).ToString()){
            <hr>
<div class="d-grid gap-2 col-6 mx-auto">
    <a class="btn btn-outline-primary"  asp-area="" asp-controller="Tablero" asp-action="GestionDeTablero">Gestión De Tablero</a> 
    <a class="btn btn-outline-secondary"  asp-area="" asp-controller="Tarea" asp-action="GestionDeTarea">Gestión De Tarea</a> 
    <a class="btn btn-outline-info"  asp-area="" asp-controller="Usuario" asp-action="Index">Gestión De Usuario</a> 
</div>
        } 
}else{
    <h2>No Hay Tareas Asignadas</h2>
}