@{
    ViewData["Title"] = "Tarea";
}

@model tl2_tp10_2023_NicoPed.ViewModels.ListarTareaViewModel


<h2>Lista De Tareas</h2>

<table class="table table-green">
    <thead>
        <tr>
            <th hidden>id_tarea</th>
            <th>nombre</th>
            <th>descripcion</th>
            <th>color</th>
            <th>Estado Actual</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tarea in Model.ListarTareaVM)
        {
            <tr>
                <td hidden>@tarea.Id_tarea</td>
                <td>@tarea.Nombre</td>
                <td>@tarea.Descripcion</td>
                <td>@tarea.Color</td>
                <td>@tarea.Estado</td>
                <td>
                    <td>
                        <form asp-controller="Tarea" asp-action="ActualizarEstado" method="post">
                            <select name="estadoTarea" value ="@tarea.Estado" asp-items = "@Html.GetEnumSelectList<tl2_tp10_2023_NicoPed.Tarea.estadoTarea>()">
                            </select>
                            <input hidden name="idTarea" value="@tarea.Id_tarea">
                            <input type="submit" class="btn btn-outline-primary" value="Cambiar">
                        </form>
                    </td>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="d-grid gap-2 col-6 mx-auto">
    <a class="btn btn-outline-primary"  asp-area="" asp-controller="Tablero" asp-action="Index">Ir a tableros</a> 
    <a class="btn btn-outline-secondary" asp-area="" asp-controller="Home" asp-action="Index" >Ir al inicio</a> 
</div>