
@model tl2_tp10_2023_NicoPed.ViewModels.EditarUsuarioViewModel

<form asp-controller="Usuario" asp-action="EditarUsuario">
    <input hidden asp-for="@Model.Id_usuario">
    <div class="form-group">
        <label asp-for="@Model.Nombre_de_usuario"></label>
        <input asp-for="@Model.Nombre_de_usuario" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Contrasenia"></label>
        <input asp-for="@Model.Contrasenia" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.RolUsuario"></label>
        <input asp-for="@Model.RolUsuario" class="form-control" />
    </div>
    <button class="btn btn-outline-primary" type="submit">Enviar</button>
</form>